{{- $self := .self -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Event -->" | safeHTML }}
<section id="{{ .Name }}" class="event-fragment fragment">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row">
          <article class="col-md-12">
          {{- partial "helpers/section-header.html" (dict "self" $self "bg" $bg "params" .Params) }}
          {{- if .Params.asset -}}
            <div class="col-12">
              <img src="{{ partial "helpers/image.html" (dict "root" . "asset" .Params.asset) }}" alt="{{ .Params.subtitle | default .Params.title }}" class="img-fluid mb-4">
            </div>
          {{- end -}}
          <div class="col-12 content px-0
            {{- partial "helpers/text-color.html" (dict "self" $self) -}}
          ">
            {{- partial "helpers/slot.html" (dict "root" $ "slot" "before-content" "data" (dict "page" $.page "content_fragment" .self)) -}}
            {{- $content := $self.Content | markdownify -}}
            {{- $content := replace $content "<blockquote>" "<blockquote class=\"blockquote\">" -}}
            {{- $content | safeHTML -}}
            {{- partial "helpers/slot.html" (dict "root" $ "slot" "after-content" "data" (dict "page" $.page "content_fragment" .self)) -}}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
